/* public-sans-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/public-sans-v15-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* public-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --nav-color:rgb(149, 151, 165);
  --btn-bg:linear-gradient(134.71deg, rgb(51, 211, 94) -43.027%,rgb(42, 182, 217) 56.553%);
  --btn-color:rgb(255, 255, 255);
  --header-bg:rgb(255, 255, 255);
  --moon-color:white
  --hero-bg:#FAFAFA ;
}

.mode {
  --nav-color:white;
  --btn-bg:rgb(173, 173, 173);
  --btn-color:black;
  --header-bg:#333;
  --moon-color:#333 ;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  position: relative;
  z-index: 999999;
  padding: 18px 0;
  background: var(--header-bg);
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top__link {
  display: inline-block;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__item + .navbar__item {
  margin-left: 30px;
}

.navbar__link {
  color: var(--nav-color);
  font-size: 14px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: -0.11px;
}

.header-top__mode-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.header-top__mode-btn {
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: var(--btn-bg);
  border: none;
  color: var(--moon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-top__request-btn {
  width: 163px;
  padding: 8px 0;
  border-radius: 22px;
  background: var(--btn-bg);
  color: var(--btn-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  border: none;
  cursor: pointer;
}

.header-top__hamburger-btn {
  display: none;
  border: none;
  background: transparent;
}

@media (max-width: 763px) {
  .site-header {
    padding: 22px 0;
  }
  .header-top__navbar, .header-top__request-btn {
    display: none;
  }
  .header-top__hamburger-btn {
    display: block;
  }
}
.hero-section {
  position: relative;
  padding: 170px 0;
  max-width: 100%;
  background-image: url("../images/hero-img2.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.hero__content-wrapper {
  width: 447px;
}

.hero__content-wrapper h2 {
  margin-bottom: 24px;
  font-family: "Public Sans";
  font-size: 56px;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -1px;
}

.hero__content-wrapper p {
  margin-bottom: 36px;
  font-family: "Public Sans";
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}

.hero__button {
  width: 163px;
  padding: 8px 0;
  border-radius: 22px;
  background: var(--btn-bg);
  color: var(--btn-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  border: none;
  cursor: pointer;
}

.hero-img {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1235px) {
  .hero-section {
    background-size: 600px;
  }
  .hero-img {
    width: 500px;
    height: 700px;
  }
}
@media (max-width: 951px) {
  .hero-section {
    padding: 80px 0;
    background-size: 500px;
  }
  .hero-img {
    width: 450px;
    height: 550px;
  }
}
@media (max-width: 850px) {
  .hero-section {
    padding: 380px 0 88px;
    background-image: none;
  }
  .hero-img {
    top: -80px;
    left: 0;
    right: 0;
    width: 100%;
  }
  .hero__content-wrapper {
    text-align: center;
    width: 100%;
    font-size: 40px;
  }
  .hero__content-wrapper h2 {
    margin-bottom: 16px;
  }
  .hero__content-wrapper p {
    margin-bottom: 32px;
    margin-bottom: 15px;
    text-align: center;
  }
}
@media (max-width: 436px) {
  .hero__content-wrapper {
    width: 327px;
    margin: 0 auto;
  }
  .hero__content-wrapper h2 {
    width: 327px;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #2D314D;
  }
}
.choose-section {
  padding: 50px 0;
  background-color: #F4F5F7;
}

.choose-text__wrapper {
  width: 635px;
  padding-top: 96px;
}

.choose__title {
  font-size: 40px;
  font-weight: 100;
  color: #2D314D;
}

.choose__text {
  font-size: 18px;
  line-height: 28px;
  color: #9597A5;
  margin-top: 16px;
}

.choose__list {
  margin-top: 72px;
  display: flex;
  gap: 30px;
}

.choose__item {
  width: 255px;
  height: 278px;
}

.choose-item__title {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 100;
  color: #2D314D;
}

.choose__text {
  margin-top: 26px;
  font-size: 16px;
  line-height: 26px;
  color: #9597A5;
}

@media (max-width: 1180px) {
  .choose-text__wrapper {
    margin: 0 auto;
    text-align: center;
  }
  .choose__list {
    width: 550px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
  }
}
@media (max-width: 656px) {
  .choose__list {
    width: 375px;
    display: flex;
    flex-direction: column;
  }
  .choose-text__wrapper {
    width: 327px;
  }
  .choose__title {
    font-size: 32px;
  }
  .choose-section {
    padding-top: 64px;
  }
  .choose-text__wrapper {
    padding: 0;
  }
  .choose__list {
    width: 327px;
    text-align: center;
    margin: 0 auto;
  }
}
.latest-section {
  padding: 80px 0;
}

.latest__title {
  font-size: 40px;
  font-weight: 100;
  color: #2D314D;
}

.latest__list {
  max-width: 1150px;
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

.latest__img {
  max-width: 255px;
  height: 200px;
}

.latest-item__text-wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.latest__item {
  max-width: 255px;
  height: 395px;
}

.latest-item__obj {
  font-size: 10px;
  color: #9597A5;
}

.latest-item__title {
  font-size: 16px;
  color: #2D314D;
  line-height: 20px;
  font-weight: 100;
}

.latest-item__text {
  max-width: 214px;
  font-size: 13px;
  line-height: 18px;
  color: #9597A5;
}

@media (max-width: 1180px) {
  .latest__title {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
  }
  .latest__list {
    width: 550px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
  }
}
@media (max-width: 656px) {
  .latest__list {
    width: 375px;
    display: flex;
    flex-direction: column;
  }
  .latest-section {
    padding: 88px 0;
  }
  .latest__item {
    width: 316px;
  }
  .latest-item__text {
    width: 257px;
  }
}/*# sourceMappingURL=main.css.map */